In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.svm import LinearSVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate

In [2]:
train = pd.read_csv(r"Xy_train.csv")
print(train.shape)

(100, 2)

In [3]:
x = train.iloc[:,0:1]
xtot=x
y = train.iloc[:,1:]

In [4]:
x

           X
0   2.273360
1   3.167583
2   7.973655
3   6.762547
4   3.911096
..       ...
95  3.787495
96  2.759471
97  9.661041
98  0.582026
99  4.087339

[100 rows x 1 columns]

In [5]:
y

            y
0    6.054685
1    4.581428
2    5.392507
3    3.108068
4    4.225744
..        ...
95   5.133706
96   4.308327
97  11.923565
98   1.335725
99   5.641851

[100 rows x 1 columns]

In [6]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.8, random_state=5)

In [7]:
# Definimos el escalador 
scaler = preprocessing.StandardScaler().fit(xtrain)
scaler

StandardScaler()

In [8]:
# Transformamos los x_train
x_train_scal = scaler.transform(xtrain)
x_test_scal = scaler.transform(xtest)

# Linear regression

In [9]:
lr = LinearRegression()

In [10]:
lr.fit(x_train_scal, ytrain)

LinearRegression()

In [11]:
ypred = lr.predict(x_test_scal)

In [12]:
np.shape(ypred)

(80, 1)

In [13]:
np.shape(x_train_scal)

(20, 1)

In [14]:
lrr2=np.sqrt(mean_squared_error(ytest, ypred))
lrmse=mean_squared_error(ytest, ypred)
lrmae=mean_absolute_error(ytest, ypred)

In [15]:
print(f'  LR, r2: {lrr2}')
print(f'  LR, MSE: {lrmse}')
print(f'  RL, MSE: {lrmae}')

  LR, r2: 2.085147605945313
  LR, MSE: 4.3478405385794705
  RL, MSE: 1.5047806521077676

In [16]:
resultados = pd.DataFrame(columns=['Modelo','R2','MSE','MAE'])
resultados

Empty DataFrame
Columns: [Modelo, R2, MSE, MAE]
Index: []

In [17]:
resultados = resultados.append({'Modelo':'LR',
                                'R2':lrr2,
                                'MSE':lrmse,
                                'MAE':lrmae},ignore_index=True)

In [18]:
resultados

  Modelo        R2       MSE       MAE
0     LR  2.085148  4.347841  1.504781

# SVR

In [19]:
svr = SVR()

In [20]:
svr.fit(x_train_scal, ytrain)

D:\Miniconda\envs\cd\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVR()

In [21]:
ypred = svr.predict(x_test_scal)

In [22]:
np.shape(ypred)

(80,)

In [23]:
np.shape(x_train_scal)

(20, 1)

In [24]:
svrr2=np.sqrt(mean_squared_error(ytest, ypred))
svrmse=mean_squared_error(ytest, ypred)
svrmae=mean_absolute_error(ytest, ypred)

In [25]:
print(f'  SVR, r2: {svrr2}')
print(f'  SVR, MSE: {svrmse}')
print(f'  SVR, MSE: {svrmae}')

  SVR, r2: 1.9596135330701623
  SVR, MSE: 3.840085198991724
  SVR, MSE: 1.3062916551152544

In [26]:
resultados = resultados.append({'Modelo':'SVR',
                                'R2':svrr2,
                                'MSE':svrmse,
                                'MAE':svrmae},ignore_index=True)
resultados

  Modelo        R2       MSE       MAE
0     LR  2.085148  4.347841  1.504781
1    SVR  1.959614  3.840085  1.306292

# KNN

In [27]:
knn = KNeighborsRegressor()

In [28]:
knn.fit(x_train_scal, ytrain)

KNeighborsRegressor()

In [29]:
ypred = knn.predict(x_test_scal)

In [30]:
np.shape(ypred)

(80, 1)

In [31]:
np.shape(x_train_scal)

(20, 1)

In [32]:
knnr2=np.sqrt(mean_squared_error(ytest, ypred))
knnmse=mean_squared_error(ytest, ypred)
knnmae=mean_absolute_error(ytest, ypred)

In [33]:
print(f'  KNN, r2: {knnr2}')
print(f'  KNN, MSE: {knnmse}')
print(f'  KNN, MSE: {knnmae}')

  KNN, r2: 1.9296034581150305
  KNN, MSE: 3.723369505569484
  KNN, MSE: 1.2340693577110782

In [34]:
resultados = resultados.append({'Modelo':'KNN',
                                'R2':knnr2,
                                'MSE':knnmse,
                                'MAE':knnmae},ignore_index=True)
resultados

  Modelo        R2       MSE       MAE
0     LR  2.085148  4.347841  1.504781
1    SVR  1.959614  3.840085  1.306292
2    KNN  1.929603  3.723370  1.234069

### Como el KNN es el modelo que menor MSE presenta, utlizo este para generar mi prediccion con el dataset test:

In [35]:
test = pd.read_csv(r"X_test.csv")
print(test.shape)

(20, 1)

In [36]:
x_train = train.iloc[:,0:1]
y_train = train.iloc[:,1:]

In [37]:
np.shape(x)

(100, 1)

In [38]:
np.shape(y)

(100, 1)

In [39]:
# Definimos el escalador 
scaler = preprocessing.StandardScaler().fit(x_train)
scaler

StandardScaler()

In [40]:
# Transformamos los x_train
x_train_scal = scaler.transform(x_train)

In [41]:
knn.fit(x_train_scal, y_train)

KNeighborsRegressor()

In [42]:
x_test = test.iloc[:,0:1]

In [43]:
x_test_scal = scaler.transform(x_test)

In [44]:
ypred = knn.predict(x_test_scal)

In [45]:
ypred

array([[ 3.63663374],
       [ 3.13994297],
       [ 7.19019016],
       [ 5.47195654],
       [ 4.88806034],
       [ 3.85132562],
       [ 7.17995228],
       [ 1.36726338],
       [ 9.73789523],
       [ 5.16198951],
       [ 5.31746007],
       [ 3.20964464],
       [10.35309045],
       [ 2.18304688],
       [ 4.09851269],
       [ 6.69289768],
       [ 4.38469541],
       [ 3.57118882],
       [ 4.15059303],
       [ 3.13994297]])